.vscode
data/
models/
questions/
results/
.idea
__pycache__
*.json
/ckpts
*.md
*.log
*.csv
/src/evaluation/accuracy/ckpts
*.pkl
src/evaluation/accuracy/tempCodeRunnerFile.py
src/evaluation/accuracy/eval.py
