.vscode
*.json
/ckpts
*.md
*.log
code/__pycache__/factcheck.cpython-313.pyc
code/ckpts/CACHEDIR.TAG
code/ckpts/models--lytang--MiniCheck-Flan-T5-Large/.no_exist/96eafd01cee2d16cf81aaa2fb226b14f422a37b3/chat_template.jinja
code/ckpts/models--lytang--MiniCheck-Flan-T5-Large/.no_exist/96eafd01cee2d16cf81aaa2fb226b14f422a37b3/model.safetensors
code/ckpts/models--lytang--MiniCheck-Flan-T5-Large/refs/main
code/ckpts/models--lytang--MiniCheck-Flan-T5-Large/refs/refs/pr/2
code/ckpts/models--lytang--MiniCheck-Flan-T5-Large/snapshots/96eafd01cee2d16cf81aaa2fb226b14f422a37b3/pytorch_model.bin
code/ckpts/models--lytang--MiniCheck-Flan-T5-Large/snapshots/96eafd01cee2d16cf81aaa2fb226b14f422a37b3/spiece.model
code/ckpts/models--lytang--MiniCheck-Flan-T5-Large/snapshots/c3f6482d13e7cc81748e853723befc286f29d949/model.safetensors
code/index.pkl
code/index_full.pkl
code/tempCodeRunnerFile.py
dataset/medquad_cancer_subset.csv
dataset/medquad_clean.csv
index.pkl
